
/*---=======================
   07. Start Portfolio css 
===========================---*/

.portfolio-area-v1{
    & .portfolio-wrapper{
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 19.3%;
        @media #{$lp}{
            margin-left: 10%;
        }
        @media #{$lg}{
            margin-left: 0%;
        }
        @media #{$xm}{
            margin-left: 0px;
        }
    }
    & .protfolio-arrows-one{
        float: right;
        @media #{$xm}{
            float: left;
        }
        & .slick-arrow{
            display: inline-block;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: 50%;
            border: 2px solid $theme-color;
            cursor: pointer;
            z-index: 1;
            @include transition(.3s);
            &.prev{
                margin-right: 30px;
            }
            &:hover,&:focus{
                background-color: $theme-color;
                color: $white;
            }
        }
    }
}


.portfolio-area{
    & .filter-nav{
        & .filter-btn{
            border-bottom: 1px solid $border-color;
            & li{
                display: inline-block;
                padding-left: 15px;
                padding-right: 15px;
                cursor: pointer;
                padding-bottom: 5px;
                position: relative;
                &.active{
                    color: $theme-color;
                    &:after{
                        position: absolute;
                        content: '';
                        bottom: -1px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $theme-color;
                        @media #{$xs}{
                            display: none;
                        }
                    }
                }
                @media #{$lg}{
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }
    }
    & .portfolio-item{
        &:hover{
            & .portfolio-img{
                & .portfolio-overlay{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        & .portfolio-img{
            position: relative;
            overflow: hidden;
            & img{
                width: 100%;
            }
            & .portfolio-overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(14, 27, 44, 0.85);
                padding: 40px;
                visibility: hidden;
                opacity: 0;
                @include transition(.3s);
                @media #{$lp}{
                    padding: 30px;
                }
                @media #{$xm}{
                    padding: 30px;
                }
                @media #{$xss}{
                    padding: 30px;
                }
                & .portfolio-content{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    & .content{
                        & span{
                            color: $theme-color;
                            margin-bottom: 5px;
                        }
                        & h5{
                            color: $white;
                            font-weight: 600;
                        }
                        & .img-popup{
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 60px;
                            height: 60px;
                            background-color: $theme-color;
                            color: $white;
                            text-align: center;
                            line-height: 60px;
                            border-radius: 50%;
                            @media #{$lg}{
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                            }
                            @media #{$xss}{
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.portfolio-area-v2{
    & .filter-nav{
        float: right;
    }
}
/*---=======================
   End Portfolio css 
===========================---*/